# Java/Maven
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Node/Angular
node_modules/
dist/
.angular/
*.log
.npm/

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/output/
backend/excels/
backend/excels_large/
frontend/.editorconfig
frontend/.gitignore
