# Java/Maven
# target/  <-- Removed as per request to not exclude anything from backend
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Node/Angular
node_modules/
dist/
.angular/
*.log
.npm/

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# Project Specific
# backend/output/       <-- Included as per request
# backend/excels/       <-- Included as per request
# backend/excels_large/ <-- Included as per request
frontend/.editorconfig
frontend/.gitignore
